<a href="https://colab.research.google.com/github/rishabh0508/Projects/blob/main/Movie_recommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [163]:
import pandas as pd
rating = pd.read_excel("rating 2.xlsx")
movies = pd.read_csv("Movie_Id_Titles.csv")
rating.drop("timestamp",axis=1, inplace=True)

In [164]:
merge_table = pd.merge(rating, movies)
merge_table

        user_id  ...                                              title
0             0  ...                                   Star Wars (1977)
1           290  ...                                   Star Wars (1977)
2            79  ...                                   Star Wars (1977)
3             2  ...                                   Star Wars (1977)
4             8  ...                                   Star Wars (1977)
...         ...  ...                                                ...
99998       840  ...                                  Mamma Roma (1962)
99999       655  ...                             Eighth Day, The (1996)
100000      655  ...                                  Girls Town (1996)
100001      655  ...  Silence of the Palace, The (Saimt el Qusur) (1...
100002      655  ...                                    Dadetown (1995)

[100003 rows x 4 columns]

In [165]:
rating_table = pd.pivot_table(merge_table, columns="title", index="user_id", values="rating")
rating_table

title    'Til There Was You (1997)  ...  Á köldum klaka (Cold Fever) (1994)
user_id                             ...
0                              NaN  ...                                 NaN
1                              NaN  ...                                 NaN
2                              NaN  ...                                 NaN
3                              NaN  ...                                 NaN
4                              NaN  ...                                 NaN
...                            ...  ...                                 ...
939                            NaN  ...                                 NaN
940                            NaN  ...                                 NaN
941                            NaN  ...                                 NaN
942                            NaN  ...                                 NaN
943                            NaN  ...                                 NaN

[944 rows x 1664 columns]

In [166]:
ratings = pd.DataFrame(merge_table.groupby("title").mean()["rating"])
ratings

                                         rating
title
'Til There Was You (1997)              2.333333
1-900 (1994)                           2.600000
101 Dalmatians (1996)                  2.908257
12 Angry Men (1957)                    4.344000
187 (1997)                             3.024390
...                                         ...
Young Guns II (1990)                   2.772727
Young Poisoner's Handbook, The (1995)  3.341463
Zeus and Roxanne (1997)                2.166667
unknown                                3.444444
Á köldum klaka (Cold Fever) (1994)     3.000000

[1664 rows x 1 columns]

In [167]:
 ratings["no of rating"] = pd.DataFrame(merge_table.groupby("title").count())["rating"]
 ratings

                                         rating  no of rating
title
'Til There Was You (1997)              2.333333             9
1-900 (1994)                           2.600000             5
101 Dalmatians (1996)                  2.908257           109
12 Angry Men (1957)                    4.344000           125
187 (1997)                             3.024390            41
...                                         ...           ...
Young Guns II (1990)                   2.772727            44
Young Poisoner's Handbook, The (1995)  3.341463            41
Zeus and Roxanne (1997)                2.166667             6
unknown                                3.444444             9
Á köldum klaka (Cold Fever) (1994)     3.000000             1

[1664 rows x 2 columns]

In [168]:
ratings.sort_values(by="no of rating", ascending=False).head()

                             rating  no of rating
title
Star Wars (1977)           4.359589           584
Contact (1997)             3.803536           509
Fargo (1996)               4.155512           508
Return of the Jedi (1983)  4.007890           507
Liar Liar (1997)           3.156701           485

In [169]:
star_wars_corr = rating_table.corrwith(rating_table["Star Wars (1977)"])
star_wars_corr

/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:2551: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:2480: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

title
'Til There Was You (1997)                0.872872
1-900 (1994)                            -0.645497
101 Dalmatians (1996)                    0.211132
12 Angry Men (1957)                      0.184289
187 (1997)                               0.027398
                                           ...
Young Guns II (1990)                     0.228615
Young Poisoner's Handbook, The (1995)   -0.007374
Zeus and Roxanne (1997)                  0.818182
unknown                                  0.723123
Á köldum klaka (Cold Fever) (1994)            NaN
Length: 1664, dtype: float64

In [170]:

star_wars_corr = pd.DataFrame(star_wars_corr.dropna(), columns=["Correlation"]).sort_values(by="Correlation", ascending=False)
star_wars_corr

                            Correlation
title
Hollow Reed (1996)                  1.0
Commandments (1997)                 1.0
Cosi (1996)                         1.0
No Escape (1994)                    1.0
Stripes (1981)                      1.0
...                                 ...
For Ever Mozart (1996)             -1.0
Frankie Starlight (1995)           -1.0
I Like It Like That (1994)         -1.0
American Dream (1990)              -1.0
Theodore Rex (1995)                -1.0

[1410 rows x 1 columns]

In [171]:
movie_list = star_wars_corr.join(ratings["no of rating"]).sort_values(by="no of rating", ascending=False)
movie_list

                              Correlation  no of rating
title
Star Wars (1977)                 1.000000           584
Contact (1997)                   0.134962           509
Fargo (1996)                     0.044415           508
Return of the Jedi (1983)        0.672556           507
Liar Liar (1997)                 0.150292           485
...                                   ...           ...
Glass Shield, The (1994)        -1.000000             2
Slingshot, The (1993)           -1.000000             2
Good Man in Africa, A (1994)     1.000000             2
Tough and Deadly (1995)         -1.000000             2
Show, The (1995)                -1.000000             2

[1410 rows x 2 columns]

In [172]:
movie_recc = movie_list[movie_list["no of rating"]>100].sort_values(ascending=False, by="Correlation")
movie_recc = movie_recc.drop("Correlation",axis=1)
movie_recc = movie_recc.drop("no of rating",axis=1)
movie_recc.drop("Star Wars (1977)", axis=0).head(10)

Empty DataFrame
Columns: []
Index: [Empire Strikes Back, The (1980), Return of the Jedi (1983), Raiders of the Lost Ark (1981), Austin Powers: International Man of Mystery (1997), Sting, The (1973), Indiana Jones and the Last Crusade (1989), Pinocchio (1940), Frighteners, The (1996), L.A. Confidential (1997), Wag the Dog (1997)]